@media only screen and (min-width: 960px){
	.factory3d_1_
{
	background-image : url(factory3d_1_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 48px;
	top : 439px;
	width : 322px;
	height : 133px;
}
	.muesum3d
{
	background-image : url(muesum3d.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 147px;
	top : 246px;
	width : 300px;
	height : 133px;
}
	.facility3d_1_
{
	background-image : url(facility3d_1_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 147px;
	top : 632px;
	width : 301px;
	height : 133px;
}
	.tourism3d_1_
{
	background-image : url(tourism3d_1_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 832px;
	top : 246px;
	width : 301px;
	height : 133px;
}
	.heritage3d_1_
{
	background-image : url(heritage3d_1_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 831px;
	top : 632px;
	width : 302px;
	height : 133px;
}
	.realestate3d_1_
{
	background-image : url(realestate3d_1_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 453px;
	top : 803px;
	width : 368px;
	height : 132px;
}
	.zone3d_1_
{
	background-image : url(zone3d_1_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 909px;
	top : 439px;
	width : 322px;
	height : 133px;
}
	.showroom3d_1_
{
	background-image : url(showroom3d_1_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 453px;
	top : 83px;
	width : 368px;
	height : 133px;
}
}



@media only screen and (max-width: 960px) {
    .realestate3d_1_
	{
		background-image : url(res/realestate3d_1_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 327px;
	top : 1688px;
	width : 587px;
	height : 212px;
	}
	.heritage3d_1_
	{
		background-image : url(res/heritage3d_1_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 735px;
	top : 1354px;
	width : 499px;
	height : 211px;
	}
	.facility3d_1_
	{
		background-image : url(res/facility3d_1_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 17px;
	top : 1356px;
	width : 495px;
	height : 208px;
	}
	.factory3d_1_
	{
		background-image : url(res/factory3d_1_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 18px;
	top : 995px;
	width : 488px;
	height : 212px;
	}
	.zone3d_1_
	{
		background-image : url(res/zone3d_1_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 742px;
	top : 995px;
	width : 489px;
	height : 211px;
	}
	.tourism3d_1_
	{
		background-image : url(res/tourism3d_1_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 741px;
	top : 634px;
	width : 489px;
	height : 212px;
	}
	.showroom3d_1_
	{
		background-image : url(res/showroom3d_1_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 328px;
	top : 300px;
	width : 587px;
	height : 212px;
	}
	.muesum3d
	{
		background-image : url(res/muesum3d.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 13px;
	top : 634px;
	width : 498px;
	height : 213px;
	}
    
    
    
}
