@charset "utf-8";






#pre-button{
	position: relative;
	top: 60px;
	left: 10px;
	height: 80px;
	z-index: 200;
	opacity: 0;
	background-image: url(prev.png);
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}


@media only screen and (min-width: 1200px){



	
	/* smart museum */
	.mimage7
{
	background-image : url(image7.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 378px;
	top : 246px;
	width : 133px;
	height : 132px;
	cursor: pointer;
}
.mimage
{
	background-image : url(image.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 762px;
	top : 246px;
	width : 133px;
	height : 132px;
	cursor: pointer;

}

.mimage5
{
	background-image : url(image5.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 300px;
	top : 438px;
	width : 133px;
	height : 133px;
	cursor: pointer;
}

.center
{
	background-image : url(center.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 0px;
	top : 0px;
	width : 1279px;
	height : 962px;
}

.mimage1
{
	background-image : url(image1.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 570px;
	top : 161px;
	width : 133px;
	height : 133px;
	cursor: pointer;

}




.mimage4
{
	background-image : url(image4.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 366px;
	top : 632px;
	width : 133px;
	height : 133px;
	cursor: pointer;

}
.mimage6
{
	background-image : url(image6.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 569px;
	top : 718px;
	width : 133px;
	height : 133px;
	cursor: pointer;

}

.mimage3
{
	background-image : url(image3.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 775px;
	top : 632px;
	width : 133px;
	height : 132px;
	cursor: pointer;

}
.mimage2
{
	background-image : url(image2.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 839px;
	top : 438px;
	width : 133px;
	height : 133px;
	cursor: pointer;

}
/* Decorate zoom-out */
@keyframes ani-cont {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}



.cont{
	animation: ani-cont 2s ease-in-out;
}
@keyframes ani-cont {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
/* for  */
@keyframes aimage {
	from{
		top: 440px;
		left: 570px;
		opacity: 0;
	}
	to{
		top : 246px;
		left : 762px;
		opacity: 1;
	}
}
.mimage{
	animation: aimage 1s ease-in-out;
}

@keyframes aimage1 {
	from{
		top: 440px;
		left: 570px;
		opacity: 0;
	}
	to{
		left : 570px;
		top : 161px;
		opacity: 1;
	}
}
.mimage1{
	animation: aimage1 1s ease-in-out;
}

@keyframes aimage2 {
	from{
		top: 440px;
		left: 570px;
		opacity: 0;
	}
	to{
		left : 839px;
		top : 438px;
		opacity: 1;
	}
}
.mimage2{
	animation: aimage2 1s ease-in-out;
}

@keyframes aimage3 {
	from{
		top: 440px;
		left: 570px;
		opacity: 0;
	}
	to{
		left : 775px;
	top : 632px;
	opacity: 1;
	}
}
.mimage3{
	animation: aimage3 1s ease-in-out;
}

@keyframes aimage4 {
	from{
		top: 440px;
		left: 570px;
		opacity: 0;
	}
	to{
		left : 366px;
	top : 632px;
	opacity: 1;
	}
}
.mimage4{
	animation: aimage4 1s ease-in-out;
}

@keyframes aimage5 {
	from{
		top: 440px;
		left: 570px;
		opacity: 0;
	}
	to{
		left : 300px;
	top : 438px;
	opacity: 1;
	}
}
.mimage5{
	animation: aimage5 1s ease-in-out;
}

@keyframes aimage6 {
	from{
		top: 440px;
		left: 570px;
		opacity: 0;
	}
	to{
		left : 569px;
	top : 718px;
	opacity: 1;
	}
}
.mimage6{
	animation: aimage6 1s ease-in-out;
}

@keyframes aimage7 {
	from{
		top: 440px;
		left: 570px;
		opacity: 0;
	}
	to{
		left : 378px;
	top : 246px;
	opacity: 1;
	}
}
.mimage7{
	animation: aimage7 1s ease-in-out;
}



	/* Show frame */
#smartshowroom, #facility, #tourism, #factory, #heritage, #museum, #realestate , #zone{
	top : 0 ;
	left: 0;
	z-index: 100;
	position: absolute;
	opacity: 0;
	/* height: 600px;
	width: 600px; */
}



}









/* end for */











@media only screen and (max-width: 960px) {
	body{
		position: absolute;
		width: fit-content;
	}
	#pre-button{
		position: absolute;
		margin: 10px 10px;
		height: 100px;
		width: 100px;
	}
	.center {
    	display: none;
	}
	
	html , body{
		overflow-x: hidden;
	}
	body{
		width : 1225px;
		height : 2185px;
	}
	/* museum */
	.mimage7
	{
		/* display: none; */
		background-image : url(res/image7.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 400px;
	top : 634px;
	width : 213px;
	height : 213px;
	}
	/* heritage */
	.mimage3
	{
		/* display: none; */

		background-image : url(res/image3.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 630px;
	top : 1354px;
	width : 211px;
	height : 211px;
	}
	/* showroom */
	.mimage1
	{
		/* display: none; */
		background-image : url(res/image1.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 515px;
	top : 436px;
	width : 213px;
	height : 213px;
	}
	/* real estate */
	.mimage6
	{
		/* display: none; */
		background-image : url(res/image6.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 516px;
	top : 1552px;
	width : 211px;
	height : 212px;
	}
	/* factory */
	.mimage5
	{
		/* display: none; */
		background-image : url(res/image5.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 401px;
	top : 995px;
	width : 212px;
	height : 212px;
	}
	/* zone */
	.mimage2
	{
		/* display: none; */
		background-image : url(res/image2.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 630px;
	top : 995px;
	width : 212px;
	height : 212px;
	}
	/* tourism */
	.mimage
	{
		/* display: none; */
		background-image : url(res/image.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 629px;
	top : 633px;
	width : 212px;
	height : 212px;
	}

	/* facitlity */
	.mimage4
	{
		/* display: none; */
		background-image : url(res/image4.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 400px;
	top : 1354px;
	width : 213px;
	height : 212px;
	}




	.background_2_
	{
		/* background-color: black; */
		background-image : url(res/background_2_.png);
		background-repeat : no-repeat;
		position : absolute ;
		margin-left : -0;
		margin-top : -0;
		width : 1225px;
		height : 2185px;
	}

}

/* @media only screen and (max-width: 1280px) {
#pre-button{
	top: 10px;
	height: 50px;
}

	.center {
    	background-image: url(center.png);
    	background-repeat: no-repeat;
    	position: absolute;
    	width: 100%;
    	height: 100%;
    	background-size: 800px;
	}
	
	.showroom3d_1_ {
    	background-image: url(showroom3d_1_.png);
    	left: 30%;
    	top: 8%;
    	width: 100%;
    	height: 100%;
    	background-size: 250px;
	}
	
	.mimage1 {
    	background-image: url(image1.png);
    	background-repeat: no-repeat;
    	position: absolute;
    	left: 39.3%;
    	top: 100px;
    	width: 133px;
    	height: 133px;
    	cursor: pointer;
    	background-size: 90px;
	}
	
	.muesum3d {
		background-image: url(muesum3d.png);
		background-repeat: no-repeat;
		position: absolute;
		left: 8%;
		top: 33%;
		width: 100%;
		height: 100%;
		background-size: 200px;
	}
	
	.mimage7 {
		background-image: url(image7.png);
		background-repeat: no-repeat;
		position: absolute;
		left: 26%;
		top: 33%;
		width: 100%;
		height: 100%;
		cursor: pointer;
		background-size: 90px;
	}
	
	.tourism3d_1_ {
		background-image: url(tourism3d_1_.png);
		background-repeat: no-repeat;
		position: absolute;
		left: 59%;
		top: 33%;
		width: 100%;
		height: 100%;
		background-size: 200px;
	}
	
	.mimage {
		background-image: url(image.png);
		background-repeat: no-repeat;
		position: absolute;
		left: 53%;
		top: 33%;
		width: 100%;
		height: 100%;
		cursor: pointer;
		background-size: 90px;
	}
	
	.zone3d_1_ {
		background-image: url(zone3d_1_.png);
		background-repeat: no-repeat;
		position: absolute;
		left: 64%;
		top: 60%;
		width: 100%;
		height: 100%;
		background-size: 200px;
	}
	
	.mimage2 {
		background-image: url(image2.png);
		background-repeat: no-repeat;
		position: absolute;
		left: 58%;
		top: 59%;
		width: 100%;
		height: 100%;
		background-size: 90px;
	}
	
	.mimage6 {
		background-image: url(image6.png);
		background-repeat: no-repeat;
		position: absolute;
		left: 39.5%;
		top: 94%;
		width: 100%;
		height: 100%;
		background-size: 90px;
	}
	
	.realestate3d_1_ {
		background-image: url(realestate3d_1_.png);
		background-repeat: no-repeat;
		position: absolute;
		left: 30%;
		top: 107%;
		width: 100%;
		height: 100%;
		background-size: 250px;
	}
	
	.mimage3 {
		background-image: url(image3.png);
		background-repeat: no-repeat;
		position: absolute;
		left: 53%;
		top: 83%;
		width: 100%;
		height: 100%;
		background-size: 90px;
	}
	
	.heritage3d_1_ {
		background-image: url(heritage3d_1_.png);
		background-repeat: no-repeat;
		position: absolute;
		left: 59%;
		top: 83%;
		width: 100%;
		height: 100%;
		background-size: 200px;
	}

	.factory3d_1_ {
    	background-image: url(factory3d_1_.png);
    	background-repeat: no-repeat;
    	position: absolute;
    	left: 22px;
    	top: 59.5%;
    	width: 100%;
    	height: 100%;
    	background-size: 210px;
	}
	
	.mimage5 {
    	background-image: url(image5.png);
    	background-repeat: no-repeat;
    	position: absolute;
    	left: 190px;
    	top: 59%;
    	width: 100%;
    	height: 100%;
    	cursor: pointer;
    	background-size: 90px;
	}
	
	.mimage4 {
		background-image: url(image4.png);
		background-repeat: no-repeat;
		position: absolute;
		left: 26%;
		top: 84%;
		width: 100%;
		height: 100%;
		background-size: 90px;
	}
	
	.facility3d_1_ {
		background-image: url(facility3d_1_.png);
		background-repeat: no-repeat;
		position: absolute;
		left: 9%;
		top: 84%;
		width: 100%;
		height: 100%;
		background-size: 200px;
	}
	
} */

