.realestate3d_1_
{
	background-image : url(realestate3d_1_.png);
	background-repeat : no-repeat;
	position : absolute ;
	margin-left : 261px;
	margin-top : 1886px;
	width : 543px;
	height : 231px;
}
.heritage3d_1_
{
	background-image : url(heritage3d_1_.png);
	background-repeat : no-repeat;
	position : absolute ;
	margin-left : 411px;
	margin-top : 1117px;
	width : 568px;
	height : 230px;
}
.facility3d_2_
{
	background-image : url(facility3d_2_.png);
	background-repeat : no-repeat;
	position : absolute ;
	margin-left : 261px;
	margin-top : 1373px;
	width : 542px;
	height : 227px;
}
.factory3d_1_
{
	background-image : url(factory3d_1_.png);
	background-repeat : no-repeat;
	position : absolute ;
	margin-left : 260px;
	margin-top : 856px;
	width : 535px;
	height : 231px;
}
.zone3d_2_
{
	background-image : url(zone3d_2_.png);
	background-repeat : no-repeat;
	position : absolute ;
	margin-left : 439px;
	margin-top : 601px;
	width : 540px;
	height : 231px;
}
.tourism3d_1_
{
	background-image : url(tourism3d_1_.png);
	background-repeat : no-repeat;
	position : absolute ;
	margin-left : 441px;
	margin-top : 86px;
	width : 538px;
	height : 230px;
}
.showroom3d_2_
{
	background-image : url(showroom3d_2_.png);
	background-repeat : no-repeat;
	position : absolute ;
	margin-left : 426px;
	margin-top : 1631px;
	width : 553px;
	height : 230px;
}
.muesum3d_1_
{
	background-image : url(muesum3d_1_.png);
	background-repeat : no-repeat;
	position : absolute ;
	margin-left : 261px;
	margin-top : 347px;
	width : 544px;
	height : 231px;
}