@charset "utf-8";
	.bthcm
{
	background-image : url(bthcm.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 173px;
	top : 933px;
	width : 493px;
	height : 103px;
}
.btls
{
	background-image : url(btls.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 194px;
	top : 1550px;
	width : 473px;
	height : 103px;
}
.smartmuseum
{
	background-image : url(smartmuseum.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 242px;
	top : 164px;
	width : 758px;
	height : 227px;
}
.bttp
{
	background-image : url(bttp.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 581px;
	top : 1242px;
	width : 485px;
	height : 104px;
}
.pnnb
{
	background-image : url(pnnb.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 581px;
	top : 627px;
	width : 477px;
	height : 105px;
}
.image3
{
	background-image : url(image3.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 218px;
	top : 497px;
	width : 393px;
	height : 393px;
}
.image2
{
	background-image : url(image2.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 674px;
	top : 805px;
	width : 392px;
	height : 393px;
}
.background_2_
{
	background-image : url(background_2_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -2084px;
	top : -1249px;
	width : 5083px;
	height : 4600px;
}
.image1
{
	background-image : url(image1.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 670px;
	top : 1416px;
	width : 391px;
	height : 391px;
}
.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 212px;
	top : 1109px;
	width : 396px;
	height : 396px;
}
